
:root{
  --color: #24baa0;
  --color2: #1f8976;
}

* {
  box-sizing: border-box;
}

.container{
  width: 1050px;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.section-title{
  font-size: 22px;
  text-transform: uppercase;
  color: #575757;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 45px;
}

.section-title:after{
  content: "";
  width: 320px;
  height: 8px;
  background: var(--color);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-title.visuallyhidden {
  margin: 0;
  padding: 0;
}

.section-title.visuallyhidden:after {
  display: none;
}

.main-section {
  padding:70px 0;
}

.btn {
  border:0;
  display: inline-block;
  color:#fff;
  background: var(--color);
  padding:10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s background;
}

.btn:hover {
  background: var(--color2);
}

.row {
  margin-left:-15px;
  margin-right:-15px;
  display: flex;
}

.row .col {
  padding:0 15px;
  flex-grow: 1;
}

body {
  font-family: 'Raleway', sans-serif;
}

/*------------------------------- HEADER  -----------------------------------*/

.page-header{
  height: 40px;
  background: #000;
  position: relative;
  z-index: 1000;
}

.page-header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page-logo{
  margin: 0;
  display: flex;
  align-items: center;
}

.page-logo span{
  color: var(--color);
}

.page-logo-link{
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.page-nav{}
.page-nav-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-nav-list li{
  position: relative;
}

.page-nav-list a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 28px;
  display: block;
}

.page-nav-sublist{
  background: black;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  position: absolute;
  top: 50px;
  left:50%;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}

.page-nav-sublist:before{
  content:"";
  width:0;
  height:0;
  border:10px solid transparent;
  border-bottom-color: black;
  display: block;
  position: absolute;
  top:-20px;
  left:50%;
  transform: translate(-50%, 0);
}

.page-nav-sublist:after{
  content: "";
  width: 100%;
  height: 25px;
  background: transparent;
  display: block;
  position: absolute;
  left:0;
  top:-25px;
}

.page-nav-sublist li{}

.page-nav-list li:hover .page-nav-sublist{
  opacity:1;
  visibility: visible;
}

.page-nav-sublist a{
  font-weight: normal;
  text-transform: none;
  padding: 5px 20px;
}

.page-nav-sublist a:hover{
  color: var(--color);
}

/*------------------------------- BANNER -----------------------------------*/

.page-header{}

.main-banner{
  background-image: linear-gradient(#fff, #ddd);
}

.container{}

.banner{
  height: 500px;
  display: flex;
}

.banner-prev,
.banner-next{
  width: 90px;
  color: var(--color);
  font-size: 70px;
  background: transparent;
  border: none;
  transition: 0.5s color;
  cursor: pointer;
}

.banner-prev:focus,
.banner-next:focus{
  outline: none;
}

.banner-prev:hover,
.banner-next:hover{
  color: #000;
}

.banner-next{
  order: 1;
}

.banner-slides{
  flex-grow: 1;
  position: relative;
}

.banner-slide{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.7s opacity;
  display: flex;
}

.banner-slide-active{
  opacity: 1;
  z-index: 1;
}

.banner-slide-img {
  width: 46%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-slide-img img {
  position: relative;
  max-width: 90%;
  width: 100%;
	display: none;
}

.banner-slide-img .visible {
	display: inline-block;
}

.banner-slide-cnt {
  height: 100%;
  width: 54%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-slide-title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 43px;
  font-weight: 400;
  text-align: center;
}

.banner-slide-title span {
  color: var(--color);
}

.banner-slide-cnt p {
  margin: 30px -5px;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  line-height: 22px;
}

.banner-slide-btn {
  margin-top: 35px;
  font-size:27px;
}


/*------------------------------- FORM -----------------------------------*/
.main-contact {}
.form{
  display: flex;
  justify-content: space-between;
}

.form-left{
  width: 690px;
}

.form-right{
  width: 340px;
}

.form-row{
  margin-bottom: 30px;
}

.form label{}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  border: 1px solid var(--color);
  height: 66px;
  padding: 0 15px;
  width: 100%;
  font-size: 33px;
  font-weight: 300;
  color: #333;
  transition: 0.4s all;
}

.form textarea{
  height: 190px;
  padding: 15px;
  resize: vertical;
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form textarea::placeholder {
  color: #ddd;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
  outline: none;
  box-shadow: inset 0 0 0 2px var(--color);
}

.form-image{
  height: 190px;
  background: url(../images/red_chair.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
  position: relative;
  margin-bottom: 40px;
}

.form-image:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(transparent, #fff);
}

.form-checkbox{
  display: flex;
  color: #aaa;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.form-checkbox input {
  position: absolute;
  left: 0;
  top:0;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.form-checkbox input + span{
  flex-shrink: 0;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  display: block;
  border: 1px solid var(--color);
  position: relative;
}

.form-checkbox input + span:after{
  content: "";
  background: url(../images/form_ok.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top:50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.5s all;
  transform: translate(-50%, -50%) scale(0.5);
}

.form-checkbox input:checked + span:after{
  opacity:1;
  transform: translate(-50%, -50%) scale(1)
}

.form-submit-btn{
  width:100%;
  font-size:34px;
  font-weight: bold;
  padding:20px;
}


/*------------------------------- FOOTER -----------------------------------*/
.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-footer .col-1-2:nth-of-type(2) {
  text-align: right;
}

.main-footer .copyright {
  font-size: 16px;
  color: #8b8b8b;
  line-height:36px;
}

.main-footer .social-icons {
  display: inline-block;
}

.main-footer .footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #9B9B9B;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 70px;
  vertical-align: top;
  line-height: 40px;
}

.social-icons {
  margin:0;
  padding:0;
}

.social-icons li {
  display: inline-block;
}

.social-icon {
  width: 40px;
  height: 40px;
  text-indent: -999999px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
}

.flickr {
  background: url(../images/flickr.png) no-repeat;
}

.vimeo {
  background: url(../images/vimeo.png) no-repeat;
}

.pinterest {
  background: url(../images/pinterest.png) no-repeat;
}

.twitter {
  background: url(../images/twitter.png) no-repeat;
}

/*------------------------------- INFORMATION  -----------------------------------*/
.main-information {
  padding:65px 0;
}

.info-box {
  position: relative;
  display: inline-block;
}

.info-box-img {
  display: block;
}

.info-box-container {
  position: absolute;
  left:0;
  bottom:10px;
  width:100%;
  background: rgba(255,255,255,0.5);
  padding:10px 15px;
}

.info-box-title {
  border-bottom: 7px solid var(--color);
  font-weight: 600;
  width:50%;
  font-size:15px;
}

.info-box-text {
  border:1px solid #ddd;
  height:225px;
  padding:15px;
}

.info-box-lorem {
  margin-top:15px;
}

/*------------------------------- CENNIK -----------------------------------*/

.main-price {
  background: #F1F1F1;
  padding:75px 0;
}

.price-box {
  margin-top: 20px;
  background: #F9F9F9;
  border: 2px solid #D4D4D4;
  height: 520px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-box:before {
  content: "";
  display: block;
  width:50px;
  height: 50px;
  border: 2px solid #D4D4D4;
  background: #D4D4D4;
  box-shadow: inset 0 0 0 12px white;
  box-sizing: border-box;
  position: relative;
  left:50%;
  top: 0;
  transform: translate(-50%, -70%);
  border-radius: 50%;
}

.price-box-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color);
  margin-top: -20px;
  font-weight: 400;
}

.price-box-price {
  display: flex;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 2px solid #D4D4D4;
  background: #FFF;
  margin: 0 auto 30px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price-box-container {
  display: flex;
  color: #c2c2c2;
}

.price-box-container span {
  font-size: 45px;
  font-weight: 600;
}

.price-box-container sup {
  font-size: 16px;
  padding-top: 15px;
}

.price-box .price-text {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #c2c2c2;
}

.price-box .price-box-offer {
  list-style:none;
  padding:0;
  margin:0;
  margin-bottom:auto;
}

.price-box .price-box-offer li {
  background: #E4E4E4;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  color: #8F8F8F;
}

.price-box .price-box-offer li:nth-of-type(even) {
  background: #F1F1F1;
}

.price-box .price-box-btn {
  align-self: center;
  margin-bottom: 20px;
}

.active {
  background: var(--color);
  border-color: var(--color);
}

.active .price-box-title {
  color: #FFF;
}

.active .price-box-price {
  border-color: var(--color);
}

.active .price-box-container span,
.active .price-box-container sup,
.active .price-text {
  color: var(--color)
}

.active .price-box-btn {
  background: #FFF;
  color: var(--color);
  transition:0.5s all;
}

.price-box.active:before {
  border: 2px solid var(--color);
  background: white;
  box-shadow: inset 0 0 0 12px var(--color);
}
