@import 'normalize.css';
@import 'calculator.css';
@import 'header.css';
@import 'banner.css';
@import 'form.css';
@import 'footer.css';
@import 'information.css';
@import 'price.css';

:root{
  --color: #24baa0;
  --color2: #1f8976;
}

* {
  box-sizing: border-box;
}

.container{
  width: 1050px;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.section-title{
  font-size: 22px;
  text-transform: uppercase;
  color: #575757;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 45px;
}

.section-title:after{
  content: "";
  width: 300px;
  height: 8px;
  background: var(--color);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-title.visuallyhidden {
  margin: 0;
  padding: 0;
}

.section-title.visuallyhidden:after {
  display: none;
}

.main-section {
  padding:70px 0;
}

.btn {
  border:0;
  display: inline-block;
  color:#fff;
  background: var(--color);
  padding:10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s background;
}

.btn:hover {
  background: var(--color2);
}

.row {
  margin-left:-15px;
  margin-right:-15px;
  display: flex;
}

.row .col {
  padding:0 15px;
  flex-grow: 1;
}

body {
  font-family: 'Raleway', sans-serif;
}
